.env
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### LaTeX Docs ###
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.xdv

### STS ###
.apt_generated
.factorypath
.project
.settings
.classpath
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/*
!.vscode/launch.json
